# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY="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"

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****
